<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <a class="navbar-brand" href="/login">Mon app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li *ngIf="storeRole==='super_admin' " class="nav-item active" >
        <a class="nav-link" href="/enterpriseList">EnterpriseList</a>
      </li>
     
      <li *ngIf="storeRole==='enterprise'" class="nav-item">
        <a class="nav-link" href="/internlist">InternList</a>
      </li>
      <li *ngIf="storeRole==='enterprise'" class="nav-item">
        <a class="nav-link" href="/topics/topicList">TopicsList</a>
      </li>
      <li *ngIf="storeRole==='enterprise'" class="nav-item">
        <a class="nav-link" href="/supervisor">Supervisors</a>
      </li>
      
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Registre
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/register/supervisor">Supervisor</a></li>
          <li><a class="dropdown-item" href="/register/entreprise">Entreprise</a></li>
          <li><a class="dropdown-item" href="/register/intern">Intern</a></li>
        </ul>
      </div>
      
     
      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>